
.section-stories{
    position: relative;
    padding: 5rem 0;
    background-color: rgba(226, 223, 223, 0.759);
}

.heading5{

      margin:0 auto;
      margin-left: 25%;
      margin-bottom: 20px;
        font-size: 2.5rem;
        text-transform: uppercase;
        //font-weight: 700;
        display:inline-block ;
        background-image: linear-gradient( to right,rgb(74, 165, 240),rgb(72, 130, 217));
        color: transparent;
        transition: all .2s;
        -webkit-background-clip: text;
        background-clip: text;
       
         &:hover{
              transform:skewY(2deg) skewX(8deg) scale(1.1);
              letter-spacing: 2px;
        }
    }
.story{
    width: 65%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba( $color-black, .1);
    background-color: rgba(white,  .6);
    border-radius:3px ;
    padding: 3rem;
    padding-left: 6rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);
    margin-top: 3%;

    & > *{

        transform: skewX(12deg);

    }

    &__shape{
        width: 10rem ;
        height: 10rem;
        // background-color: orangered;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg
        );
       position: relative;
    }

    &__img{
        height:  100%;
        transform: translateX(-4rem) scale(1.4);
        backface-visibility: hidden;
        transition: all .5s;
    }

    &__text{
       transform: skewX(12deg);
    //    backface-visibility: hidden;
    }

    &__caption{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: white;
        text-transform: uppercase;
        font-size: 1.2rem;
        text-align:center ;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }
    &:hover &__caption{
        opacity: 1;
        transform: translate(-50%, 50%);
        text-align:center ;
    }
    &:hover &__img{
       transform: translateX(-4rem) scale(1);
       filter: blur(3px) brightness(80%);
    }
}
.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    opacity: .6;

    &__content{
        height: 100%;
        width: 100%;
        object-fit: cover;
        
    }
}